@model IEnumerable<TaskManager.Models.ToDoListItem>

@{
    ViewBag.Title = "Index";
}

<h2>List of Tasks</h2>

<p>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToDoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone, new { Id = item.ToDoID })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>

                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ToDoID }) <text> &nbsp; </text>
                }


                @Html.ActionLink("Details", "Details", new { id = item.ToDoID }) <text> &nbsp; </text>

                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.ToDoID })
                }
            </td>
        </tr>
    }

</table>

@section scripts {
    <script language="javascript" type="text/javascript">$(document).ready(function () {
         $("i[data-toggle='star']")
             .css({ "cursor": "pointer" })
             .click(function (e) {
                 console.log(e);
                 var target = $(e.target);
                 var toDoId = target.attr("data-id");
                 var starSet = target.hasClass("glyphicon-check");
                 console.log(toDoId);
                 console.log(starSet);


                 $.ajax({
                     method: starSet ? "DELETE" : "PUT",
                     url: "/api/ToDo/" + toDoId + "/star",
                     data: null
                 })
                 .done(function (r) {
                     target.removeClass();
                     target.addClass("glyphicon " + (starSet ? "glyphicon-unchecked" : "glyphicon-check"));
                 })
                 .fail(function (r) {
                     alert("Failed to change star status");
                     console.log(r)
                 });
             });
     });</script>
}

